<footer>
<div class='footer'>

    <div class="info">

        <div class="logo">
            <img src="..\..\assets\images\logo2.png" class="logo-2">
            <div class="clinic">კლინიკა</div>
        </div>

        <div class="menu">
            <ul class="list-1">
                <div class=" header">ინფორმაცია</div>
                <li><a href="" class="">ჩვენ შესახებ</a></li>
                <li><a href="" class="">პარტნიორები</a></li>
                <li><a href="" class="">ექიმებისთვის</a></li>
                <li><a href="" class="">კლინიკებისთვის</a></li>
                <li  class="no-margin"><a href="" class="">აფთიაქებისთვის</a></li>
            </ul>

            <ul class="list-2">
                <div class="header">პაციენტებისთვის</div>

                <li><a href="" class="">ექიმები</a></li>
                <li><a href="" class="">კლინიკები</a></li>
                <li><a href="" class="">ანოტაციები</a></li>
                <li><a href="" class="">ბლოგი</a></li>
                <li  class="no-margin"><a href="" class="">მედია</a></li>
            </ul>

            <ul>
                <div class=" header">კონტაქტი</div>

                <li class="no-margin">სამუშაო დღეები : </li>
                <li> ორშ - პარ</li>
                <li  class="no-margin">სამუშაო დრო : </li>
                <li> 9:00 - 17:00</li>
                <li>იაკობ ნიკოლაძე №10</li>
                <li  class="no-margin">032 2 100 100</li>
            </ul>




            <ul class="list-3">
                <div class=" header">გამოგვყევით</div>
                <li><a href="" class="facebook">Facebook</a></li>
                <li><a href="" class="instagram">Instagram</a></li>
                <li  class="no-margin"><a href="" class="youtube">Youtube</a></li>
            </ul>


        </div>
    </div>

    <div class="copyright">copyright</div>

</div>

<div class="line"></div>
</footer>