<div class="container">
    <div class="sidepanel-space">
        <img class="openbtn" src="..\..\assets\images\Screenshot_1.png">
        
            <div class="register">რეგისტრაცია</div>
            <div class="categories" routerLink="/doctors-crud">კატეგორიები</div>
            <div class="doctors">ექიმები</div>
       
    </div>

    <div class="account-type">
        <div id="doctor" class="type">ექიმი</div>
        <div  id="user" class="type">მომხმარებელი</div>
        <div  id="admin" class="type">ადმინისტრატორი</div>
    </div>
   

</div>