
.container{
    font-family: 'FiraGO';
    font-style: normal;
   
   
}

.header {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-top: 66px;
    margin-left: 114px;
    
    color: #18A4E1;
}

input {
    box-sizing: border-box;
    border: none;
    width: 377px;
    height: 48px;
    color: #053354;
    font-size: 14px;
    line-height: 17px;
    padding-left: 20px;

    border: 1px solid #EBF2F8;
    border-radius: 50px;
}

input:focus {
    outline: none;
    border: 1px solid rgba(24, 164, 225, 0.3);
    border-radius: 50px;

}

.inputs {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: rgba(5, 51, 84, 0.3)
}

.forgot-password {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 5px;
    

    color: #053354;
}

.button {
    width: 180px;
    height: 40px;

    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    background: #053354;
    border-radius: 50px;

    margin-top: 64px;
    margin-left: 112px;
}

.error-space{
    width: 205px;
}

.error{
    font-size: smaller;
    color: red;

    margin-top: 5px;
}

.under-input{
    display: flex;
    padding-left: 115px;
    padding-right: 115px;
    justify-content: space-between;
    

}

a{
    color:inherit;
    text-decoration: none;
}

