<div class="container">    
    <h1 class="header">
        ინფორმაციის ცვლილება
    </h1>
    <form [formGroup]="passwordForm">
        
            <label>შეიყვანეთ ახალი პაროლი</label>
            <input type="text" name="password" formControlName="password" placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )">
            <div class="validator" *ngIf="Password.errors?.['pattern'] || Password.errors?.['required'] && Password.touched">
                *გთხოვთ შეიყვანოთ ვალიდური პაროლი
            </div>
            
        <button class="button" type="submit" (click)="onSubmit()">შენახვა</button>
    </form>


</div>