<div class="container" *ngIf="currentAccount">

    <label for="fileInput" class="image-label">
        <img *ngIf="!hasImage" src="..\..\assets\images\workers\Profile_avatar_placeholder_large.png" alt="Image">
        <img *ngIf="hasImage" [src]="imageData" >
    </label>
      <input id="fileInput" type="file" style="display: none" (change)="onFileSelected($event)">
    <div class="username">{{currentAccount.firstname}} {{currentAccount.lastname}}</div>

    <div class="pid-header">პირადი ნომერი :</div>
    <div class="pid">{{currentAccount.pid}}</div>

    <div class="email-header">Email :</div>
    <div class="email">{{currentAccount.email}}</div>

    <div class="change-password" (click)="openPasswordChange()">პაროლის შეცვლა</div>
    <div class="error">{{message}}</div>

    <div class="schedule-header">ჩემი ჯავშანი :</div>
    <div class="schedule">(0)</div>

    <div class="verification" (click)="openVerificationDialog()" [ngStyle]="{ 'color': isVerified ? 'green' : 'red' }">2-Step Verification</div>

    <div class="log-out" (click)="logOut()">გასვლა</div>


</div>