<div class="header">
    <div>2023</div>
    <img src="..\..\assets\images\arrow left.png">
    <div class="month">აპრილი</div>
    <img class="rotate-image" src="..\..\assets\images\arrow left.png">
</div>

<div class="full-container">


    <div class="hours">
        <div class="arrows">
            <img src="..\..\assets\images\arrow left.png">
            <img class="rotate-image1" src="..\..\assets\images\arrow left.png">
        </div>
        <li>9:00 - 10:00</li>
        <li>10:00 - 11:00</li>
        <li>11:00 - 12:00</li>
        <li>12:00 - 13:00</li>
        <li>13:00 - 14:00</li>
        <li>14:00 - 15:00</li>
        <li>15:00 - 16:00</li>
        <li>16:00 - 17:00</li>
    </div>

    <div>
    <div class="weekdays">
        <ul class="weekdays-list">
            <li>17 ორშ</li>
            <li>18 სამ</li>
            <li>19 ოთხ</li>
            <li>20 ხუთ</li>
            <li>21 პარ</li>
            <li>22 შაბ</li>
            <li>23 კვი</li>
          </ul>
    </div>

    <div class="schedule">

    </div>
</div>


</div>
