<div class="search-space">

    <div class="container">
        <div class="phone">
            <img src="..\..\assets\images\call-svgrepo-com (3) 1.png" class="phone-img">

            <div class="phone-number">032 2 100 100</div>
        </div>


        <div class="address-div">
            <img src="..\..\assets\images\location-svgrepo-com (1) 2.png" class="address-img">

            <div class="address">იაკობ ნიკოლაძე №10</div>
        </div>


        <form>

            <input id="nameInput" class="search-bar" type="text" placeholder="მოძებნე ექიმი სახელით">
            <input id="specialityInput" class="search-bar" type="text" placeholder="მოძებნე სპეციალობით">
            <div class="circle" (click)="search()">
                <img src="..\..\assets\images\ri_search-line.png" class="search-img">
            </div>
        </form>


    </div>
</div>